@model KermesseApp.Models.tbl_opciones

@{
    ViewBag.Title = "Opción";
}

<h2>Detalle de Opción</h2>

<div>
    <h4>tbl_opciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.opcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opcion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "editar_Opcion", new { id = Model.id_opciones }) |
    @Html.ActionLink("Regresar", "listar_Opcion")
</p>
