@model IEnumerable<KermesseApp.Models.tbl_parroquia>

@{
    ViewBag.Title = "Parroquia";
}

<h2>Lista de Parroquias</h2>

<div class="btn-nuevo">
    <a href="@Url.Action("guardar_Parroquia", "tbl_Parroquia")">
        <button type="button" class="btn btn-outline-primary btn-md">
            <i class="fas fa-plus"></i> Nueva Parroquia
        </button>
    </a>
</div>

@*Filtro de busqueda*@
@using (Html.BeginForm("filtrar_Parroquia", "tbl_Parroquia", FormMethod.Post))
{
    <div class="row">

        <div class="form-group col-xs-4 col-md-4">

            @Html.ActionLink("PDF", "reporteParroquia", new { tipo = "PDF", cadena = Request.Form["cadena"] }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Word", "reporteParroquia", new { tipo = "Word" }, new { @class = "btn btn-info" })
            @Html.ActionLink("Excel", "reporteParroquia", new { tipo = "Excel" }, new { @class = "btn btn-success" })

        </div>

        <div class="form-group col-xs-8 col-md-8">
            <div class="input-group busqueda">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-6", @placeholder = "Buscar" })
                <button type="submit" class="btn btn-light col-md-2">Buscar</button>
            </div>
        </div>

    </div>
}
<br />

<table class="table table-bordered table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parroco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sitio_web)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parroco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url_logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sitio_web)
            </td>
            <td class="col-3">
                @Html.ActionLink("Editar", "editar_Parroquia", new { id = item.idparroquia }, new { @class = "btn btn-outline-success btn-sm" }) |
                @Html.ActionLink("Detalle", "ver_Parroquia", new { id = item.idparroquia }, new { @class = "btn btn-outline-info btn-sm" }) |
                @Html.ActionLink("Eliminar", "eliminar_Parroquia", new { id = item.idparroquia }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }

</table>
