@model IEnumerable<KermesseApp.Models.tbl_rol>

@{
    ViewBag.Title = "tbl_rol";
}

<h2>Tabla Rol</h2>

<p>
    @Html.ActionLink("Nuevo Rol", "VGuardarRol")
</p>


<h3>Buscar Rol</h3>

@using (Html.BeginForm("FiltrarRol", "Tbl_rol", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-xs-8 col-md-8">
            @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aqui los datos de la busqueda" })
            <span class="input-group">
                <button type="submit" class="btn btn-block btn-success col-md-2">Buscar</button>
            </span>
        </div>

    </div>

}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rol_desc)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>*@
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rol_desc)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>*@
                    <td>
                        @Html.ActionLink("Editar", "EditRol", new { id = item.id_rol }, new { @Class = "btn btn-xs btn-warning" }) |
                        @Html.ActionLink("Ver", "VerRol", new { id = item.id_rol }, new { @Class = "btn btn-xs btn-default" }) |
                        @Html.ActionLink("Eliminar", "DeleteRol", new { id = item.id_rol }, new { @class = "btn btn-xs btn-danger" }) |
                        @*<a href="@Url.Action("DeleteRol", new { id = item.id_rol })" class=" btn btn-xs btn-danger">Eliminar </a>  |
                        <a href="@Url.Action("DeleteRol", new { id = item.id_rol })"><i class=" glyphicon glyphicon-trash" title="Eliminar"></i> </a>  |*@
                    </td>
                </tr>
            }
        }

    </table>
