@model IEnumerable<KermesseApp.Models.tbl_denominacion>

@{
    ViewBag.Title = "Denominación";
}

<h2>Lista de Denominaciones</h2>

<div class="btn-nuevo">
    <a href="@Url.Action("GuardarDen", "Tbl_denominacion")">
        <button type="button" class="btn btn-outline-primary btn-md">
            <i class="fas fa-plus"></i> Nueva Denominación
        </button>
    </a>
</div>

@using (Html.BeginForm("FiltroDen", "Tbl_denominacion", FormMethod.Post))
{
    <div class="row">

        <div class="form-group col-xs-4 col-md-4">

            @Html.ActionLink("PDF", "ReporteDen", new { tipo = "PDF", cadena = Request.Form["cadena"] }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Word", "ReporteDen", new { tipo = "Word" }, new { @class = "btn btn-info" })
            @Html.ActionLink("Excel", "ReporteDen", new { tipo = "Excel" }, new { @class = "btn btn-success" })

        </div>

        <div class="form-group col-xs-8 col-md-8">
            <div class="input-group busqueda">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-6", @placeholder = "Buscar" })
                <button type="submit" class="btn btn-light col-md-2">Buscar</button>
            </div>
        </div>

    </div>
}
<br />

<table class="table table-bordered table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.tbl_moneda.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_letras)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.estado)
            </th>*@

        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_moneda.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor_letras)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>*@
            <td class="col-4">
                @Html.ActionLink("Editar", "EditDen", new { id = item.id_denominacion }, new { @class = "btn btn-outline-success btn-sm" }) |
                @Html.ActionLink("Ver", "VerDen", new { id = item.id_denominacion }, new { @class = "btn btn-outline-info btn-sm" }) |
                @Html.ActionLink("Eliminar", "DeleteDen", new { id = item.id_denominacion }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }

</table>
